#line-2:hover {
  color: red;
  font-size: 30px;
}

.di-chuot:hover {
  color: blue;
  font-size: 20px;
}

.nhan:active {
  color: green;
}

.youtube:link {
  color: black;
}

.youtube:visited {
  color: purple;
}

.div_elm:empty {
  background-color: blue;
  width: 200px;
  height: 200px;
}

h2:target {
  color: red;
}

.anchor:visited {
  color: red;
}

p:first-child {
  background-color: yellow;
}

p:last-child {
  background-color: green;
}

p:nth-child(2) {
  background-color: blue;
}

p:nth-last-child(2) {
  background-color: pink;
}

p:only-child {
  background-color: orange;
}

p:first-of-type {
  font-size: 50px;
}

p:last-of-type {
  font-size: 30px;
}

p:nth-of-type(2) {
  font-size: 20px;
}

p:nth-last-of-type(2) {
  font-size: 10px;
}
