#line-2:hover {
  color: red;
  font-size: 30px;
}

.di-chuot:hover {
  color: blue;
  font-size: 20px;
}

.nhan:active {
  color: green;
}

.youtube:link {
  color: black;
}

.youtube:visited {
  color: purple;
}

.div_elm:empty {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.div_elm {
  background-color: red;
  width: 200px;
  height: 200px;
}

h2:target {
  color: red;
}

.anchor:visited {
  color: red;
}
